{{define "main"}}
<div class="card-columns gallery">
        {{ $i := 0 }}
        {{ range .Pages }}
        <div class="card">
            {{ $image := .Resources.GetMatch .Params.image}}
            {{ $resizedImage := $image.Resize "500x" }}
            <img class="card-img img-fluid" src="{{ $resizedImage.RelPermalink }}" data-src="{{ $image.RelPermalink }}"
                alt="{{.Title}}" title="{{.Title}}" onclick="showModal(this)">
            <div class="card-footer">
                <h4 class="painting-title">{{.Title}}</h4>
                <p class="painting-info">{{.Params.year}} &middot; {{.Params.technique}} &middot; {{.Params.size}}</p>
            </div>
        </div>
        
    {{ $i = add $i 1 }}
    {{end}}
    </div>
{{ partial "modal.html" . }}
<script src="{{"js/modal.js" | relURL }}"></script>
{{end}}