

body {
    font-family: 'Roboto Condensed', sans-serif; 
}

.sidebar {
    min-height: 100vh;
    position: relative;
    padding: 2em;
    text-align: right;
}

@media only screen and (max-width: 600px) {
    .sidebar {
        min-height: 75vh;
    }
}

.sidebar-menu {
    position: absolute;
    bottom: 8vh;
    right: 20px;
}

.sidebar h1 {
    color: white;
    align-self: flex-end;
    padding-bottom: 3vh;
    font-size: 4rem;
}

.sidebar a {
    color: white;
    padding-bottom: 3vh;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    padding-bottom: 1vh;
}







