

body {
    font-family: 'Roboto Condensed', sans-serif; 
}

.sidebar {
    min-height: 70vh;
    position: relative;
    padding: 2em;
}

@media only screen and (min-width: 600px) {
    .sidebar {
        min-height: 100vh;
    }
}

.sidebar-logo {
    height: 200px;
    padding-top: 5vh;
}

.sidebar-menu {
    text-align: right;
    position: absolute;
    bottom: 3vh;
    right: 20px;
}

.sidebar h1 {
    color: white;
    align-self: flex-end;
    padding-bottom: 3vh;
}

.sidebar a {
    color: white;
    padding-bottom: 3vh;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar li {
    padding-bottom: 1vh;
}







