/* General */

body {
    font-family: 'Roboto Condensed', sans-serif; 
}

h1 {
    font-size: 4rem;
}

.about-text {
    padding-bottom: 1rem;
}

/* sidebar-menu */


.sidebar-menu {
    position: absolute;
    right: 20px;
    /* For smooth scrolling on mobile because bottom is not constant */
    top: 110px;

    -webkit-animation: fadein 1.6s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 1.6s; /* Firefox < 16 */
        -ms-animation: fadein 1.6s; /* Internet Explorer */
         -o-animation: fadein 1.6s; /* Opera < 12.1 */
            animation: fadein 1.6s;
}

@media (min-device-width: 576px) { 
    .sidebar-menu {
        bottom: 8vh;
        top: unset;
    }
}

.sidebar-menu h1 {
    color: white;
    padding-bottom: 3vh;
}

.sidebar-menu a {
    color: white;
    padding-bottom: 3vh;
}

.sidebar-menu ul {
    list-style-type: none;
}

.sidebar-menu li {
    padding-bottom: 1vh;
}

@keyframes fadein {
    from { opacity: 0; right: 60px; }
    to   { opacity: 1; right: 20px; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; right: 60px; }
    to   { opacity: 1; right: 20px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; right: 60px; }
    to   { opacity: 1; right: 20px; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; right: 60px; }
    to   { opacity: 1; right: 20px; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; right: 60px; }
    to   { opacity: 1; right: 20px; }
}

/* List  */

#gallery {
    padding: 1rem;
}

@media (max-width: 576px) { 

    #gallery {
        padding-left: 0;
        padding-right: 0;
    }

}

#gallery .card-footer {
    background-color: white;
}

#gallery .card-columns {
    column-count: 1;
    max-width: 1540px;
    margin: auto;
}

#painting-title, .painting-title {
    font-weight: bolder;
    font-style: italic;
}

#painting-size, .painting-size {
    opacity: 0.5;
    float: right;
}

@media (min-width: 836px) {
    #gallery .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1358px) {
    #gallery .card-columns {
        column-count: 3;
    }
}

/* Modal  */

#image-modal .modal-header {
    border-bottom: 0 none;
}

#image-modal {
    padding-right: 0 !important;
}