
.gallery {
    padding: 1rem;
}

@media (max-width: 576px) { 

    .gallery {
        padding-left: 0;
        padding-right: 0;
    }

}

.card-footer {
    text-align: center;
}

.card-columns {
    column-count: 1;
    max-width: 1800px;
    margin: auto;
}

@media (min-width: 900px) {
    .card-columns {
        column-count: 2;
    }
}

@media (min-width: 1500px) {
    .card-columns {
        column-count: 3;
    }
}
