
.sidebar {
    min-height: 100vh;
    position: relative;
    padding: 2em;
    text-align: right;
}

@media only screen and (max-width: 576px) {
    .sidebar {
        min-height: 80vh;
    }
}

.sidebar-menu {
    position: absolute;
    bottom: 8vh;
    right: 20px;

    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

.sidebar-menu h1 {
    color: white;
    padding-bottom: 3vh;
}

.sidebar-menu a {
    color: white;
    padding-bottom: 3vh;
}

.sidebar-menu ul {
    list-style-type: none;
}

.sidebar-menu li {
    padding-bottom: 1vh;
}


@keyframes fadein {
    from { opacity: 0; right: 100px; }
    to   { opacity: 1; right: 20px; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; right: 100px; }
    to   { opacity: 1; right: 20px; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; right: 100px; }
    to   { opacity: 1; right: 20px; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; right: 100px; }
    to   { opacity: 1; right: 20px; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; right: 100px; }
    to   { opacity: 1; right: 20px; }
}





