{{define "main"}}
<div class="container">

    
    <div class="row py-3 justify-content-lg-center text-center">
        <div class="col-lg-5">
            <div class="about-me">
                <h1>{{ .Site.Params.forname }}<br>{{ .Site.Params.surname }}</h1>
                <div class="my-text">
                    {{ .Content }}
                </div>
            </div>

        </div>
        <div class="col-lg-5">
            <img width="350px" src="{{.Site.Params.aboutImage}}" alt="Renate Rittler Portrait"
                title="Renate Rittler Portrait">
        </div>
    </div>
    <div class="row py-3 justify-content-lg-center">
        <div class="col-lg-10 my-text">
            <h4>
                {{ with .Site.GetPage "quote" }}{{ .Content }}{{ end }}
            </h4>
        </div>
    </div>
    <div class="row py-3 justify-content-lg-center">
        <div class="col-lg-10">
            <img class="img-fluid" src="{{.Site.Params.bannerImage}}" alt="Renate Rittler mit Pinsel in der Hand"
                title="Renate Rittler mit Pinsel in der Hand">
        </div>
    </div>
</div>
{{end}}