{{define "main"}}
<div class="container">
    <div class="row py-3 text-center">
        <div class="col-3">
            <img class="img-fluid" src="{{.Site.Params.logo}}" alt="Logo von {{ .Site.Params.forname }} {{ .Site.Params.surname }}"
            title="Logo von {{ .Site.Params.forname }} {{ .Site.Params.surname }}">
        </div>
        <div class="col-lg-5">
            <div class="about-text">
                <h1>{{ .Site.Params.forname }}<br>{{ .Site.Params.surname }}</h1>
                <div class="text-left">
                    {{ .Content }}
                </div>
            </div>

        </div>
        <div class="col-lg-4">
            <img class="img-fluid" src="{{.Site.Params.aboutImage}}" alt="Portrait von {{ .Site.Params.forname }} {{ .Site.Params.surname }}"
            title="Portrait von {{ .Site.Params.forname }} {{ .Site.Params.surname }}">
        </div>
    </div>
    <div class="row py-3 ">
        <div class="col text-right">
            <h4>
                {{ with .Site.GetPage "quote" }}{{ .Content }}{{ end }}
            </h4>
        </div>
    </div>
    <div class="row py-3">
        <div class="col">
            <img class="img-fluid" src="{{.Site.Params.bannerImage}}" alt="Banner von {{ .Site.Params.forname }} {{ .Site.Params.surname }}"
                title="Banner von {{ .Site.Params.forname }} {{ .Site.Params.surname }}">
        </div>
    </div>
</div>
{{end}}